<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        h1 {
            color: gray;
            align: center;
        }

        h3 {
            color: goldenrod;
        }
    </style>
</head>
<body>
    <div class="container" align="center">
        <h1>About us</h1>
        <div>
            <h2>
                123Travel là 1 blog du lịch được phát triển bởi Việt Hoàng
                và
                Nguyên Hoàng
            </h2>
            <h2>Lớp 16PFIEV3- Đại Học Bách Khoa Đà Nẵng</h2>
        </div>
        <h3>
            “Đầu tư vào du lịch là một khoản đầu tư cho bản thân.” <br>
            - Matthew Karsten
        </h3>
        <img src="~/images/thumbnail/about.jpg" align="center">
        <h3>
            I love to share my knowledge, travel experience and video
            expertise in all forms of media! So… Feel free to contact us if
            you have any questions!
        </h3>
    </div>
</body>
</html>