
@{
    ViewData["Title"] = "Chủ đề du lịch";
}

<div class="row area-row-block">
    <a asp-action="PostsByTheme" asp-route-theme="tinhyeu" class="col-4 area-block area-block-tinhyeu">
        <h1>Tình Yêu</h1>
    </a>
    <a asp-action="PostsByTheme" asp-route-theme="maohiem" class="col-4 area-block area-block-maohiem">
        <h1>Mạo Hiểm</h1>
    </a>
    <a asp-action="PostsByTheme" asp-route-theme="nghiduong" class="col-4 area-block area-block-nghiduong">
        <h1>Nghỉ Dưỡng</h1>
    </a>
</div>
<div class="row area-row-block">
    <a asp-action="PostsByTheme" asp-route-theme="thethao" class="col-4 area-block area-block-thethao">
        <h1>Thể Thao</h1>
    </a>

    <a asp-action="PostsByTheme" asp-route-theme="hiendai" class="col-4 area-block area-block-hiendai">
        <h1>Hiện Đại</h1>
    </a>
    <a asp-action="PostsByTheme" asp-route-theme="giadinh" class="col-4 area-block area-block-giadinh">
        <h1>Gia Đình</h1>
    </a>
</div>
<div class="row area-row-block">
    <a asp-action="PostsByTheme" asp-route-theme="banbe" class="col-4 area-block area-block-banbe">
        <h1>Bạn Bè</h1>
    </a>

    <a asp-action="PostsByTheme" asp-route-theme="amthuc" class="col-4 area-block area-block-amthuc">
        <h1>Ẩm Thực</h1>
    </a>
    <a asp-action="PostsByTheme" asp-route-theme="thiennhien" class="col-4 area-block area-block-thiennhien">
        <h1>Thiên Nhiên</h1>
    </a>
</div>



